In [1]:
myList = list(range(10)) #uses range function and list to create a list

In [2]:
print(myList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
myList[::2] #returns every other number

[0, 2, 4, 6, 8]

In [4]:
myList[::-2] #goes backwards with negative number, but starts at second to last element

[9, 7, 5, 3, 1]

In [14]:
myList = list.append(range(5))
# this doesn't work - descriptor 'append' for 'list' objects doesn't apply to a 'range' object

TypeError: descriptor 'append' for 'list' objects doesn't apply to a 'range' object

In [20]:
num = [1,2,3]
print(myList)
print(num)
#Gotta use + instead
myList + num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3]

### Fun with tuples! (Not) ###

In [11]:
#tuples do not technically require parentheses to declare
tup = 1, 2, 3
print(tup)

(1, 2, 3)

In [9]:
#However it's preferred to write them WITHOUT parentheses in return statements
def returnMultipleValues():  #Why does this need a parentheses? --Invoking a function requires parentheses
    return 1, 2, 3
returnMultipleValues() #This returns the function

(1, 2, 3)

In [10]:
returnMultipleValues #But this just describes it

In [12]:
#Also, if you want to return multiple values as variables you can just do this:
a, b, c = returnMultipleValues()

In [13]:
#Check it out:
print(a)
print(b)
print(c)

1
2
3

Pretty cool right?

## List comprehensions ##

In [22]:
myList2 = list(range(100)) #original myList2 is all numbers 0-100
filteredList = [item for item in myList2 
                if item % 10 == 0] # This filters the list to only elements divisible by 10
print(filteredList)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## List comprehension with functions ##

In [26]:
sentence = 'My name is Alex. I live in VA.' #Do not invoke this as a list first or you get an error
sentence.split('.')  #This will turn it into a list of two strings split by a period

['My name is Alex', ' I live in VA', '']

In [27]:
sentence.split()  #will turn it into a list split by spaces (default)

['My', 'name', 'is', 'Alex.', 'I', 'live', 'in', 'VA.']

In [39]:
def cleanWord(word):
    return word.replace('.', '').lower() #this creates a function that replaces the . and lowers the case of all words
cleanWord(sentence)

'my name is alex i live in va'

In [37]:
[cleanWord(word) for word in sentence] #this makes a list of strings of every character for some reason (without [] it doesn't even work)

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'l',
 'e',
 'x',
 '',
 ' ',
 'i',
 ' ',
 'l',
 'i',
 'v',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 'v',
 'a',
 '']

In [40]:
#Aha, figured it out. It was iterating over every single item without the split function
[cleanWord(word) for word in sentence.split()] #This way it realizes each word is a separate item

['my', 'name', 'is', 'alex', 'i', 'live', 'in', 'va']