In [40]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [16]:
df = pd.read_csv('/Users/aepperly/Downloads/NamUs_10K_most_recent_missing_cases.csv')

In [37]:
df[df.County == 'Hartford']

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP94286,8/11/22,Bass,India,16 Years,West Hartford,Hartford,CT,Female,Black / African American,8/12/22
9,MP93908,8/1/22,Cranford,Raesha,16 Years,West Hartford,Hartford,CT,Female,Black / African American,8/2/22
19,MP93600,7/23/22,Lindsay,Shanielia,18 Years,NaN,Hartford,CT,Female,Black / African American,7/25/22
152,MP92170,6/7/22,Lindo,Mckala,15 Years,Bloomfield,Hartford,CT,Female,Black / African American,6/8/22
252,MP91512,5/15/22,Williams,Chanel,16 Years,Bloomfield,Hartford,CT,Female,Black / African American,5/17/22
267,MP91877,5/10/22,Sibbach,Steven,67 Years,Granby,Hartford,CT,Male,White / Caucasian,6/1/22
330,MP90799,4/25/22,Hannigan,Jason,49 Years,West Hartford,Hartford,CT,Male,White / Caucasian,4/25/22
474,MP89815,3/17/22,Wilkerson,Jelani,16 Years,Bloomfield,Hartford,CT,Male,Black / African American,3/18/22
609,MP88762,2/7/22,Lathrop,Christopher,41 Years,West Hartford,Hartford,CT,Male,White / Caucasian,2/9/22
804,MP93455,12/15/21,Mobalel,Balsam,20 Years,New Britain,Hartford,CT,Female,"Other, White / Caucasian",7/19/22
922,MP90100,11/9/21,Smith,Peter,54 Years,Hartford,Hartford,CT,Male,White / Caucasian,3/30/22
977,MP85891,10/30/21,McDade,Wesley,57 Years,West Hartford,Hartford,CT,Male,White / Caucasian,8/11/22
1031,MP85422,10/17/21,Bouchard,Aliyah,16 Years,West Hartford,Hartford,CT,Female,White / Caucasian,10/18/21
1442,MP82330,7/15/21,Bailey,Devajae,17 Years,Bloomfield,Hartford,CT,Female,Black / African American,7/16/21
1766,MP80095,4/29/21,Gomez-Tellez,Manuel,39 Years,Newington,Hartford,CT,Male,Hispanic / Latino,5/5/21
1769,MP80060,4/28/21,Santiago,Eliza,16 Years,West Hartford,Hartford,CT,Female,Hispanic / Latino,5/5/21
1777,MP79899,4/27/21,Crawford,Journie,16 Years,Bloomfield,Hartford,CT,Female,"Black / African American, Hispanic / Latino",4/28/21
1787,MP80360,4/24/21,Clayton,Quashawn,22 Years,Bloomfield,Hartford,CT,Male,Black / African American,5/13/21
1904,MP78749,3/13/21,Ramos,Samia,16 Years,Bloomfield,Hartford,CT,Female,"Hispanic / Latino, Black / African American",3/14/21
1981,MP78245,2/16/21,Moten,Anaya,17 Years,West Hartford,Hartford,CT,Female,Black / African American,2/27/21
2070,MP77243,1/19/21,Davisphann,Jedin,15 Years,West Hartford,Hartford,CT,Male,Black / African American,1/20/21
2418,MP73604,9/11/20,Hendricks,Amya,17 Years,West Hartford,Hartford,CT,Female,Hispanic / Latino,9/15/20
2551,MP83088,8/1/20,Mancuso,Aleta,49 Years,Hartford,Hartford,CT,Female,White / Caucasian,7/7/22
2603,MP83056,7/16/20,Dickinson,Lee,66 Years,Hartford,Hartford,CT,Male,White / Caucasian,8/16/21
2954,MP66262,3/7/20,Lewis,Madison,15 Years,Bloomfield,Hartford,CT,Female,Black / African American,3/9/20
3310,MP65603,11/2/19,Green,Gary,57 Years,New Britain,Hartford,CT,Male,White / Caucasian,2/22/20
3483,MP59775,8/30/19,Torres,Destney,16 Years,Bloomfield,Hartford,CT,Female,Hispanic / Latino,9/1/19
3702,MP58194,6/13/19,Rivera,Rafaelito,23 Years,West Hartford,Hartford,CT,Male,Hispanic / Latino,6/20/19
4813,MP43080,4/3/18,Cochrane,Donald,33 Years,New Britain,Hartford,CT,Male,White / Caucasian,5/22/18
4915,MP43532,2/17/18,Dunn,Jean,37 Years,New Britain,Hartford,CT,Female,White / Caucasian,11/7/19
5354,MP39524,8/12/17,Knapp,John,48 Years,West Hartford,Hartford,CT,Male,White / Caucasian,4/6/20
5597,MP40195,5/11/17,Elam,Stephen,63 Years,Middletown,Hartford,CT,Male,Black / African American,7/26/22
6140,MP40069,8/19/16,Chumak,Steven,39 Years,Hartford,Hartford,CT,Male,White / Caucasian,3/4/19
6221,MP65599,7/6/16,Colon,Marvin,53 Years,New Britain,Hartford,CT,Male,Hispanic / Latino,2/22/20
6556,MP34596,1/12/16,Perez,Orlando,31 Years,New Britain,Hartford,CT,Male,"White / Caucasian, Hispanic / Latino",8/16/18
6614,MP32133,12/11/15,Chapman,David,31 Years,East Hartford,Hartford,CT,Male,White / Caucasian,5/23/22
7389,MP42169,8/31/14,Nelson,Jamaal,33 Years,Hartford,Hartford,CT,Male,Black / African American,2/22/19
7743,MP23206,12/31/13,McIntosh,Lawrence,52 Years,Windsor Locks,Hartford,CT,Male,White / Caucasian,9/20/17
7759,MP27510,12/18/13,Rembis,Roy,72 Years,Windsor Locks,Hartford,CT,Male,White / Caucasian,8/2/17
8251,MP34412,1/10/13,Brown,Terrance,36 Years,Hartford,Hartford,CT,Male,Black / African American,10/30/20
8802,MP13723,12/7/11,Abushaqra,Haidar,40 Years,Manchester,Hartford,CT,Male,White / Caucasian,10/22/20
8868,MP12914,10/21/11,Garcia,Angel,19 Years,Hartford,Hartford,CT,Male,Hispanic / Latino,4/23/19
9757,MP13024,3/9/10,Narvaez,Luis,27 Years,Manchester,Hartford,CT,Male,"White / Caucasian, Hispanic / Latino",8/10/22
9812,MP7590,1/20/10,Monroe,Carrie Ann,26 Years,Berlin,Hartford,CT,Female,White / Caucasian,8/3/22

In [38]:
df.update((df.groupby('State')).fillna(method='bfill').fillna(method='ffill'))

In [42]:
df[(df.State =='TX')] #& (df['First Name'] == 'Lindsay')]

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
2,MP94095,8/4/22,Magana,Raul,17 Years,Dallas,Dallas,TX,Male,"White / Caucasian, Hispanic / Latino",8/5/22
14,MP93979,7/28/22,Thompson,Arthur,29 Years,Plano,Collin,TX,Male,Black / African American,8/3/22
21,MP93886,7/22/22,Oxford,Claire,15 Years,Baytown,Harris,TX,Female,White / Caucasian,8/1/22
39,MP94016,7/12/22,TURNER JR,DORSEY,66 Years,Dallas,Dallas,TX,Male,Black / African American,8/4/22
54,MP93998,7/4/22,Watson,Nicholas,17 Years,North Richland Hills,Tarrant,TX,Female,White / Caucasian,8/3/22
...,...,...,...,...,...,...,...,...,...,...,...
9947,MP36903,10/10/09,Estrada Maldonado,Luis,30 Years,Falfurrias,Brooks,TX,Male,Hispanic / Latino,2/22/21
9970,MP28453,9/15/09,Blanca,Elizabeth,20 Years,Brownsville,Cameron,TX,Female,"White / Caucasian, Hispanic / Latino",8/21/18
9972,MP2806,9/12/09,Brewer,Katie,71 Years,Bonham,Fannin,TX,Female,White / Caucasian,10/24/18
9995,MP65188,9/1/09,Briggs,Kedrian,34 Years,Unknown,Harris,TX,Male,Black / African American,2/11/20
9997,MP29954,9/1/09,Guzman Mancillas ~,Gerebel,40 Years,Rio Bravo,Hidalgo,TX,Male,Hispanic / Latino,8/7/18