In [145]:
import pandas as pd
import re

In [146]:
raw_address = pd.read_csv("Address_Data\MintedAddressBook - minted-addressbook-template.csv", usecols=range(0,3))

In [147]:
raw_address.head()

,Category,Name on Envelope,Street Address 1
0,Alex - Family,Mr. John David Epperly & Mrs. Laurie Duncan,"6621 Kirby Ct. Falls Church, VA 22043"
1,Alex - Family,Mr. Daniel Epperly,"6621 Kirby Ct. Falls Church, VA 22043"
2,Alex - Family,Mr. Michael Robinson & Mrs. Carolyn Epperly,"32 Hasell St., Charleston, SC 29401"
3,Alex - Family,Ms. Caitrin Robinson,"32 Hasell St., Charleston, SC 29401"
4,Alex - Family,Mr. Robert & Mrs. Ciara Lemery,"56 Pleasant Ridge Dr., Asheville, NC 28805"

In [148]:
def split_address(df, address_col):
    # Define the regex pattern for a US address
    pattern = r"""^(?P<street>[\w\s]+\.?),?\s+(?P<unit>(?:\#|Apt|apt|No|no|Number|number|Ste|ste|suite|Suite|unit|Unit|Box|box)\.?\s*\w+)?\s*,*\s*(?P<city>[\w\s]*),*\s*(?P<state>[A-Z]{2}),*\s+(?P<zipcode>\d{5}(?:-\d{4})?)$"""

    # Create new columns for street address, city, state, and zipcode
    df[['Street Address 1', 'Street Address 2', 'City', 'State/Region', 'Zip/Postal Code']] = df[str(address_col)].str.extract(pattern)

    # Return the new dataframe
    return df

address_df = split_address(raw_address, "Street Address 1")

address_df

,Category,Name on Envelope,Street Address 1,Street Address 2,City,State/Region,Zip/Postal Code
0,Alex - Family,Mr. John David Epperly & Mrs. Laurie Duncan,6621 Kirby Ct.,NaN,Falls Church,VA,22043
1,Alex - Family,Mr. Daniel Epperly,6621 Kirby Ct.,NaN,Falls Church,VA,22043
2,Alex - Family,Mr. Michael Robinson & Mrs. Carolyn Epperly,32 Hasell St.,NaN,Charleston,SC,29401
3,Alex - Family,Ms. Caitrin Robinson,32 Hasell St.,NaN,Charleston,SC,29401
4,Alex - Family,Mr. Robert & Mrs. Ciara Lemery,56 Pleasant Ridge Dr.,NaN,Asheville,NC,28805
5,Alex - Family,TC Kida & Keely Robinson,822 Nickerson St.,NaN,Seattle,WA,98119
6,Alex - Family,Mr. Angus & Mrs. Kim Duncan,2381 NW Johnson St,NaN,Portland,OR,97210
7,Alex - Family,Mr. Cameron Duncan,2405 NW 65th St,#402,Seattle,WA,98117
8,Alex - Family,Mr. Colin Duncan & Guest,2381 NW Johnson St,NaN,Portland,OR,97210
9,Alex - Family,Mr. Jamie & Mrs. Teri Duncan,2748 NE 9th Ave,NaN,Portland,OR,97213
10,Alex - Family,Mr. Alex & Mrs. Dorothy Ray,2234 Sherman Ave.,Apt. 1,North Bend,OR,97459
11,Alex - Family,Mr. David Duncan & Mrs. Jill Carrier,113 Ocean St.,NaN,Boston,MA,02124
12,Alex - Family,Mr. Sam Duncan & Ms. Lily Cho,21 Linden St.,Apt. 122,Quincy,MA,02170
13,Alex - Family,Mr. Francisco Lara Garcia & Mrs. Sarah Duncan,1391 Madison Avenue,Apt. 4B,New York,NY,10029
14,Alex - Family,Ms. Jeanne Duncan,1633 NE Going St,NaN,Portland,OR,97211
15,Alex - Family,Mr. Skip & Mrs. Bonnie Tucker,2236 East Summit Dr,NaN,Missoula,MT,59803
16,Alex - Family,Ms Madeleine Tucker,9630 Albatross Dr.,NaN,Anchorage,AK,99502
17,Alex - Family,Mr. François Le Diascorn & Mrs. Nancy Guri Duncan,NaN,NaN,NaN,NaN,NaN
18,Alex - Family,Mrs. Judy Epperly,NaN,NaN,NaN,NaN,NaN
19,Alex - Family,"Ms. Anne Epperly, Mr. Martin Zwergel, & Mr. Jo...",9908 River Rd.,NaN,Newport News,VA,23601
20,Alex - Family,Ms. Elizabeth Epperly & Anne-Louise Brookes,NaN,NaN,NaN,NaN,NaN

In [149]:
units_df = address_df[address_df["Street Address 1"].str.contains("#|Apt|apt|No|no|Number|number|Ste|ste|suite|Suite|unit|Unit|Box|box")]
units_df

ValueError: Cannot mask with non-boolean array containing NA / NaN values